/* GLOBAL */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(246, 240, 247);
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
    --clrMain: rgb(28, 1, 32);
    --clrTopbar: rgb(27, 12, 29);
    --clrMenu: rgb(15, 0, 17);
    --clrFooter: rgb(30, 22, 30);
    --cltText: rgb(246, 240, 247);
    --cltTextHover: rgb(215, 195, 219);
    --clrSelection: rgb(145, 122, 200);
    --tenPadding: 0% 10%;
}


body {
    min-height: 100vh;
    position: relative;
}
/* GLOBAL ENDS */

/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: var(--clrText);
    display: flex;
    justify-content: end;
    background: var(--clrTopbar);

}

.upgrade__link {
    border: solid 2px var(--cltText);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px;
}
/* HEADER END */


.container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px auto;
    background-image: linear-gradient(to top right,rgb(28, 1, 32), rgb(37, 31, 38));
    width: 100%;
    height: 100vh;
}

/* LEFT MENU */
.menu {
    position: relative;
    float: left;
    background: var(--clrMenu);
    height: 100vh;
    width: 300px;
    z-index: 1;
    display: grid;
    grid-template-rows: 70px repeat(4, 50px) 1fr 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__logo,
.menu__home,
.menu__search,
.menu__library {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--cltText);
}

.menu__logo,
.playlists__new {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    color: var(--cltText);
}

.menu__logo {
    font-size: 2rem;
}

.playlists__new {
    font-size: 1.5rem;
}

.playlists__created {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 10px;
    color: var(--cltText);

}

.menu__logo:hover,
.menu__home:hover,
.menu__search:hover,
.menu__library:hover,
.playlists__new:hover,
.playlists__created:hover {
    opacity: 0.7;
}

.menu__text {
    padding-left: 10px;
    display: inline;
}

.user {
    position: absolute;
    bottom: 120px;
    left: 20px;
    width: 250px;
}

.user__download {
    padding-bottom: 10px;
}

.user__profile{
    padding-top: 10px;
}

.profile__user {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
    align-items: center;
}

.user__profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* LEFT MENU END */

/* MAIN */

.main {
    display: grid;
    padding:100px 0px 100px 120px;
    grid-template-rows: 50px auto;
}

.main__category {
    text-transform: uppercase;
    display: flex;
    place-content: center;
}

.main__category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
      float: left;
      padding: 10px;
  }

  li:hover {
    border-bottom: 5px solid var(--cltTextHover);
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

.main__music {
    overflow-y: scroll;
    justify-self: center;
    width: 100%;
    height: 100vh;
}

.main__music::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    height: 10px;
  }

::-webkit-scrollbar-track {
    background:  #555;
}
  
::-webkit-scrollbar-thumb {
    background: var(--cltTextHover)
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--clrSelection);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    padding: 5px;
}

.carousel__tile p {
    padding-left: 5px;
}

.recent__carousel,
.suggestions__carousel,
.similar__carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: repeat(10, 190px);
}

.music__similar {
    margin-bottom: 200px;
}

.carousel__tile {
    display: grid;
    grid-template-rows: 180px 1fr 3fr;
    align-content: flex-start;
}

.tile__artwork img {
    width: 170px;
    height:170px;
}

/* MAIN END */

/* FOOTER PLAYER */
footer {
    position: fixed;
    display: grid;
    z-index: 2;
    width: 100%;
    height: 100px;
    background: var(--clrFooter);
    grid-template-columns: 300px 1fr 300px;
    place-items: center;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

.player__current {
    display: grid;
    grid-template-columns: 60px 180px 30px 30px;
}

.current__artwork img {
    width: 50px;
}

.player__controls {
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.controls__buttons i {
    width:50px;
    font-size: 1.5rem;
}

.controls__time {
    display: flex;
    place-items: center;
}

.controls__buttons {
    display: flex;
    place-content: center;
}

.controls__time hr {
    width: 400px;
    height: 5px;
    border-radius: 2px;
    color: var(--cltText);
    margin: 0px 10px 0px 10px;
    opacity: 0.7;
}

.player__volume {
    display: grid;
    grid-template-columns: 100px 150px;
    place-items: center;
}

.player__volume hr {
    width: 140px;
    border-radius: 2px;
    border: 2px solid var(--cltText);
}

.player__volume i {
    width: 30px;
}


/* FOOTER PLAYER */

/* 
.user-input {
    margin: 5%;
    width: 40%;
    height: min-content;
    padding: 3%;
    color: black;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
}

form {
    width: 80%;
}

button,
input,
select,
textarea {
    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: rgb(219, 208, 208) solid 2px;
    cursor: pointer;
}

button {
    margin-top: 20px;
}

h1 {
    text-align: center;
}

.continue {
    background-image: linear-gradient(to left,rgb(89, 189, 223), rgb(202, 62, 242));
    color: white;
    font-size: 1.2rem;
    border-radius: 30px;
}

@keyframes valid {
    from {background-color: rgb(234, 209, 213);}    
    to {background-color: rgb(221, 237, 221);}
  }

.continue:hover {
    color: black;
    background-image: linear-gradient(to left,rgb(176, 223, 238), rgb(230, 182, 243));
    text-decoration: underline;
}

::placeholder {
    color: rgb(181, 177, 177);
    font-size: 1.3rem;
}

select {
    font-size: 1.3rem;
}

input:focus:valid {
    /* background-color: rgb(221, 237, 221); */
    /* animation-name: valid;
    animation-duration: 1s;
}

input:focus:invalid {
    background-color: rgb(234, 209, 213);
  }

  nav{
      padding: 20px;
  }



 */ */
